@font-face {
  font-family: 'Montserrat';
  src: url() format('ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url(/yoursite/fonts/st-Italic.ttf) format('ttf');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url(/yoursite/fonts/st-Bold.ttf) format('ttf');
  font-weight: 700;
}
