<section class="hero">
  <div class="container">
    <h1 class="hero__title">Complex preparation for English UPE</h1>
    <p class="hero__subtitle">It won’t be easy.</p>
    <p class="hero__guarnt">
      But you’re guaranteed to get
      <span class="hero__guarnt--span">+25 points</span>
      <button type="button" class="hero__button">I want a free lesson</button>
    </p>
    <!-- <img src="" alt=""> -->
    <ul>
      <li>
        <svg class="hero__icon" width="33.59px" height="38.79px">
          <use href="./images/symbol-defs.svg#icon-figure"></use>
        </svg>
        Adapted author's UPE program
      </li>
      <li>
        <svg class="hero__icon" width="40.22px" height="41.33px">
          <use href="./images/symbol-defs.svg#icon-phone"></use></svg
        >Modern teaching methods
      </li>
      <li>
        <svg class="hero__icon" width="34.36px" height="40px">
          <use href="./images/symbol-defs.svg#icon-money"></use></svg
        >Financial guarantee the result
      </li>
    </ul>
  </div>
</section>
